# .NET
bin/
obj/
*.user
*.rsuser
*.suo
*.ntvs*
*.cache
*.ide
*.pdb
*.dbmdl
*.jfm
*.log
*.vsp
*.vspx
*.vspscc
*.vssscc
*.vs/
*.csproj.user
project.lock.json
project.assets.json
*.dll
*.exe
*.nupkg
*.snupkg
*.log
*.ide/
.vscode/
.vscode-test/
*.sln.cache
*.swp
*.err
/.nuget/
*.pidb
*.svclog
*.tlog
*.log
*.Build.cs
artifacts/
app.db

# Entity Framework Migrations
Migrations/

# Rider & VS Code settings
.idea/
*.sln.DotSettings.user
.vscode/

# React
node_modules/
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
.DS_Store
*.swp
*.swo
.eslintcache
.next/
out/
coverage/
jest/
jest.config.js
cypress/
cypress.env.json
cypress/screenshots/
cypress/videos/
public/static/
.storybook/
*.log

# MacOS-specific
*.DS_Store

# Linux-specific
*.swp
