.container {
    background-color: dodgerblue;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-button {
    background-color: white;
    margin-top: 4px;
    width: 140px;
    color: dodgerblue;
    border: 1px solid gray;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.1s ease;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
}

.category-button:hover {
    background-color: dodgerblue;
    color: white;
    transform: scale(1.1);
}
